@import url(_var.scss);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Cedarville+Cursive&family=Josefin+Sans:ital,wght@0,600;0,700;1,700&display=swap");
.button12 {
  text-align: center;
  color: #FFFFFF;
  background: #2d635e;
  padding: 14px 0 15px 0;
  max-width: 235px;
  border-radius: 5px;
  font-size: 20px;
}

.button12:hover {
  background: #224642;
}

.bt2 {
  color: #FFFFFF;
  background: #2d635e;
  padding: 14px 32px 13px 33px;
  border-radius: 5px;
}

.bt2:hover {
  background: #224642;
}

* {
  margin: 0;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 63px;
  line-height: 63px;
  font-weight: 100;
}

* h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 38px;
  line-height: 38px;
  font-weight: 200;
}

* h3 {
  font-family: 'Josefin Sans', sans-serif;
}

* h4 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 28px;
  color: #444A4A;
  font-weight: 100;
}

* h5 {
  font-family: 'Alegreya Sans', sans-serif;
  color: #444A4A;
  font-size: 19px;
  line-height: 36px;
  font-weight: 400;
}

* h6 {
  font-family: 'Josefin Sans', sans-serif;
}

* a {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
}

* a:hover {
  color: #224642;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.head__logo__show {
  display: none;
}

header {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 236px;
}

.img1 {
  padding: 4px 0 0 13px;
}

.head__meny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__meny > a:not(:last-child) {
  padding: 10px;
  margin: 0 70px 0 0;
}

.main__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__block1__con1 > h1 {
  padding: 26px 0 26px 0;
}

.main__block1__con2 {
  margin-right: 72px;
}

.main__block1__con2__cart1 {
  position: relative;
  width: 410px;
  height: 466px;
  background: #E3EBE7;
}

.main__block1__con2__cart1 > img {
  position: absolute;
  bottom: -47px;
  right: 40px;
}

.main__block1__con2__img {
  position: absolute;
  right: -72px;
  bottom: 0;
}

.main__block1__con2__img > a {
  display: block;
  margin-top: 14px;
}

.button13 {
  font-size: 0;
}

.main__block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 194px;
}

.main__block2__con1 {
  position: relative;
  background: #fae9e0;
  width: 380px;
  height: 287px;
}

.img2 {
  position: absolute;
  top: -24px;
}

.img3 {
  position: absolute;
  bottom: -54px;
  right: -12.59px;
}

.main__block2__con2 {
  max-width: 645px;
  margin-top: -32px;
}

.bty {
  margin-top: 20px;
}

.main__block3__con1 {
  width: 410px;
  height: 276px;
  position: relative;
  background: #E3EBE7;
}

.img5 {
  position: absolute;
  top: -26px;
  right: 0;
}

.img4 {
  position: absolute;
  top: -30px;
  right: 103px;
}

.main__block4 {
  margin-top: 64px;
  width: 100%;
  min-height: 550px;
  background: #E3EBE7;
}

.main__block4 {
  padding-top: 48px;
}

.obertka2 {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.img6, .img7 {
  width: 30px;
}

.img6 {
  margin: 0 20px 0 30px;
}

.img7 {
  margin: 0 30px 0 20px;
}

.img6:hover, .img7:hover {
  width: 31px;
}

.main__block4__card {
  position: relative;
  padding: 44px 62px 47px 58px;
  width: 339px;
  height: 458px;
  border-radius: 28px;
  -webkit-box-shadow: 0px 23px 34px rgba(35, 57, 55, 0.17);
          box-shadow: 0px 23px 34px rgba(35, 57, 55, 0.17);
  background: #FFFFFF;
}

.main__block4__card:hover {
  top: -5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.main__block4__card > center > h3 {
  margin-bottom: 25px;
}

.main__block4__card > center > .button12 {
  position: absolute;
  bottom: 47px;
  left: 52px;
  right: 52px;
}

footer {
  min-height: 635px;
  position: relative;
}

.footer__top {
  margin: 0 auto;
  padding: 131px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top__1 {
  position: relative;
}

.img9 {
  position: absolute;
  top: -21px;
  right: 0;
}

.footer__top__2 > h2 {
  padding: 0 0 13px 0;
}

.footer__top__2 > h5 {
  padding: 8px 0 8px 0;
}

.footer__bottom {
  text-align: center;
  width: 100%;
  padding-top: 40px;
}

.footer__bottom > h5 {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__top__1 {
  margin-right: 10px;
}

.head__meny1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rtyuo {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main2 {
  margin: 0 auto;
  text-align: center;
  margin-top: 90px;
}

.main2 > a > h2 {
  margin: 35px 0 35px 0;
  line-height: 70px;
}

.main31 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main31 > img {
  margin: 15px;
  width: 45px;
}

@media screen and (max-width: 1200px) {
  .now1 {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .main__block2 {
    display: block;
  }
  .main__block2__con1 {
    width: 100%;
    margin-bottom: 50px;
  }
  .img2 {
    display: none;
  }
  .img3, .img4 {
    margin: auto;
    position: absolute;
    top: -71px;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .main__block3__con1 {
    width: 100%;
    margin-top: 100px;
  }
  .img5 {
    display: none;
  }
  .footer__top {
    display: block;
  }
  .img9 {
    display: none;
  }
  .footer__top__1 {
    text-align: center;
  }
}

@media screen and (max-width: 896px) {
  .img7, .img6 {
    margin: 10px;
  }
}

@media screen and (max-width: 896px) {
  .img7, .img6 {
    display: none;
  }
  .main__block4__card {
    margin: 10px auto;
  }
  .main__block4 {
    background: none;
  }
  .obertka2 {
    margin: 0 10px 0 10px;
    display: block;
  }
}

@media screen and (max-width: 770px) {
  header {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head__meny {
    display: none;
  }
  .head__logo__show {
    display: inline-block;
    padding-right: 40px;
  }
  .main__block1 {
    display: block;
    margin-top: 149px;
    text-align: center;
  }
  .main__block1__con1 > h4 {
    font-size: 19px;
  }
  .main__block1__con1 > h1 {
    font-size: 54px;
  }
  .main__block1__con1 > .button12 {
    display: none;
  }
  .button13 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    background: #2d635e;
    padding: 16px 18px 15px 18px;
    border-radius: 5px;
    width: 189px;
    height: 53px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 16px;
  }
  .button13 > img {
    display: block;
    width: 25px;
    height: 6px;
    margin-left: 50px;
  }
  .main__block1__con2 {
    display: none;
  }
  .footer__top__2 {
    margin: 20px 0 0 20px;
  }
  .img8 {
    max-width: 500px;
  }
  .footer__top__1 {
    margin-right: 0;
  }
}

@media screen and (max-width: 557px) {
  .img8 {
    max-width: 337px;
  }
}

@media screen and (max-width: 427px) {
  .img3 {
    width: 339px;
  }
  .footer__top__2 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */